
:root {


}

* {
  margin: 0;
  box-sizing: border-box;
}

html {

}

body {
 background-color: black;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.App {
  display: flex;
}



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}